:root {
  --input-height: 50px;
  --input-font-size: 16px;
  --input-color: #fff;
  --input-bg: #fff;
  --input-bg-submit: #2b9cad;
}
.bodie #wrap {
  position: relative;
  display: inline-block;
  height: var(--input-height);
  width: 100%;
  max-width: 750px;
  min-width: 350px;
}
.bodie #wrap:after {
  content: "";
  position: absolute;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/running.png");
  background-position: 0px 50%;
  animation: runner 0.5s steps(32, end) infinite;
  opacity: 0;
}
.bodie #wrap.plunge {
  pointer-events: none;
}
.bodie #wrap.plunge input[type="email"] {
  color: transparent;
}
.bodie #wrap.plunge .btnwrap .spark {
  animation: spark 0.3s ease-in-out 1 forwards;
}
@keyframes spark {
  0% {
    transform: rotate(45deg) scale(0);
  }
  50% {
    transform: rotate(135deg) scale(1);
  }
  100% {
    transform: rotate(45deg) scale(0);
  }
}
.bodie #wrap.plunge .btnwrap .spark:nth-of-type(1) {
  animation-delay: 2.1s;
}
.bodie #wrap.plunge .btnwrap .spark:nth-of-type(2) {
  animation-delay: 2.2s;
}
.bodie #wrap.plunge .btnwrap .spark:nth-of-type(3) {
  animation-delay: 2.3s;
}
.bodie #wrap.plunge .btnwrap .spark:nth-of-type(4) {
  animation-delay: 2.4s;
}
.bodie #wrap.plunge .btnwrap .spark:nth-of-type(5) {
  animation-delay: 2.5s;
}
.bodie #wrap.plunge .btnwrap .spark:nth-of-type(6) {
  animation-delay: 2.6s;
}
.bodie #wrap.plunge .btnwrap .blob {
  left: 20px;
  animation: puff 0.5s ease-in-out 1 forwards;
  animation-delay: 1.65s;
  transform-origin: right;
}
@keyframes puff {
  0% {
    left: 20px;
    transform: scale(1);
  }
  50% {
    left: calc(100% - 50px);
    transform: scale(1.15);
  }
  100% {
    left: calc(100% - 50px);
    transform: scale(0);
  }
}
.bodie #wrap.plunge .btnwrap b:after {
  animation: openclose 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1 forwards;
}
@keyframes openclose {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(120deg);
  }
  75% {
    transform: rotate(120deg);
    animation-timing-function: ease-in;
  }
  80% {
    animation-timing-function: ease-in;
    transform: rotate(0deg);
  }
  100% {
    animation-timing-function: ease-in;
    transform: rotate(0deg);
  }
}
.bodie #wrap.plunge .field {
  overflow: hidden;
  z-index: 999;
}
.bodie #wrap.plunge .field p .word .char {
  z-index: 2;
  animation: run 2s ease-in 1 forwards;
  animation-delay: 0.25s;
  will-change: transform;
}
@keyframes run {
  to {
    transform: translateX(2000px);
  }
}
.bodie #wrap.plunge .field p .word .char:nth-of-type(2n) {
  animation-duration: 2.25s;
}
.bodie #wrap.plunge .field p .word .char:nth-of-type(3n) {
  animation-duration: 2.5s;
}
.bodie #wrap.plunge .field p .word .char:nth-of-type(4n) {
  animation-duration: 2.15s;
}
.bodie #wrap.plunge .field p .word .char:nth-of-type(5n) {
  animation-duration: 1.9s;
}
.bodie #wrap.plunge .field p .word .char:after {
  transition: 0.2s ease-in-out;
  transform: scale(0.75);
  z-index: -1;
}
.bodie #wrap .field {
  position: absolute;
  height: var(--input-height);
  width: 60%;
  top: 0px;
  left: 50px;
  z-index: 9;
  pointer-events: none;
  font-size: 20px;
}
.bodie #wrap .field p {
  position: relative;
  display: inline-block;
}
.bodie #wrap .field p .word .char {
  display: inline-block;
  z-index: 2;
  position: relative;
  color: transparent;
  font-weight: 900;
}
.bodie #wrap .field p .word .char:nth-of-type(2n):after,
.bodie #wrap .field p .word .char:nth-of-type(2n):before {
  animation-delay: -0.35s;
}
.bodie #wrap .field p .word .char:nth-of-type(2n):after,
.bodie #wrap .field p .word .char:nth-of-type(2n):before {
  animation-delay: -0.15s;
}
.bodie #wrap .field p .word .char:nth-of-type(3n):after,
.bodie #wrap .field p .word .char:nth-of-type(3n):before {
  animation-delay: -0.5s;
}
.bodie #wrap .field p .word .char:nth-of-type(4n) {
  animation-duration: 1.75s;
}
.bodie #wrap .field p .word .char:nth-of-type(4n):after,
.bodie #wrap .field p .word .char:nth-of-type(4n):before {
  animation-delay: -0.2s;
}
.bodie #wrap .field p .word .char:nth-of-type(1) {
  animation-duration: 1.5s;
}
.bodie #wrap .field p .word .char:nth-of-type(1):after,
.bodie #wrap .field p .word .char:nth-of-type(1):before {
  animation-delay: -0.15s;
}
.bodie #wrap .field p .word .char:before {
  content: attr(data-char);
  color: #000;
  display: inline-block;
  font-weight: 900;
  position: absolute;
  z-index: 2;
  animation: bounce 0.25s ease-in-out infinite alternate;
  transform-origin: bottom;
}
@keyframes bounce {
  from {
    transform: rotate(-13deg) skewX(-10deg);
  }
  to {
    transform: rotate(5deg) skewX(-15deg);
  }
}
.bodie #wrap .field p .word .char:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 40px;
  height: 40px;
  bottom: -13px;
  left: calc(50% - 20px);
  transform-origin: top;
  width: 40px;
  height: 26px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/383755/running.png");
  background-position: 0px 50%;
  animation: runner 0.75s steps(32, end) infinite;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}
@keyframes runner {
  from {
    background-position: 0px 50%;
  }
  to {
    background-position: -1280px 50%;
  }
}
.bodie #wrap form {
  position: relative;
  height: var(--input-height);
  width: 100%;
  display: inline-block;
  z-index: 2;
  text-align: initial;
}
.bodie #wrap form input[type="email"] {
  max-height: var(--input-height);
  height: var(--input-height);
  width: 100%;
  padding: 0 0 0 5%;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: var(--input-font-size);
  background: var(--input-bg);
}
.bodie #wrap form input[type="email"]::placeholder {
  color: #ccc;
  font-weight: 100;
}
.bodie #wrap form .btnwrap {
  display: inline-block;
  width: 35%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.bodie #wrap form .btnwrap .spark {
  position: absolute;
  width: 15px;
  height: 3px;
  background: #d31313;
  top: -25px;
  border-radius: 100px;
  right: 10px;
  transform: rotate(45deg) scale(0);
}
.bodie #wrap form .btnwrap .spark:nth-of-type(4) {
  right: -50px;
  top: 0;
}
.bodie #wrap form .btnwrap .spark:nth-of-type(3) {
  right: -50px;
  top: 30px;
}
.bodie #wrap form .btnwrap .spark:nth-of-type(2) {
  right: -10px;
  top: 105px;
}
.bodie #wrap form .btnwrap .spark:nth-of-type(5) {
  right: 20px;
  top: 120px;
}
.bodie #wrap form .btnwrap .spark:nth-of-type(6) {
  right: -20px;
  top: -15px;
}
.bodie #wrap form .btnwrap .spark:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  background: #d31313;
  top: calc(50% - 7.5px);
  left: calc(50% - 1.5px);
  border-radius: inherit;
}
.bodie #wrap form .btnwrap .blob {
  position: absolute;
  height: var(--input-height);
  width: 50px;
  background: #2b9cad;
  z-index: -1;
  border-radius: 100%;
  left: 20px;
  transform: scale(1);
}
.bodie #wrap form .btnwrap b {
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  display: flex;
  font-size: var(--input-font-size);
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;
}
.bodie #wrap form .btnwrap b:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2b9cad;
  z-index: -1;
  left: 0;
  border-radius: 0 10px 10px 0;
}
.bodie #wrap form .btnwrap b:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  left: 0px;
  background: #2b9cad;
  border-radius: 0px 0 0 0px;
  transform-origin: 100% 0%;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 1s;
  top: 0;
}
.bodie #wrap form input[type="submit"] {
  height: var(--input-height);
  border-radius: 10px;
  /* padding: 0 6rem; */
  width: 100%;
  border: none;
  opacity: 0;
  padding: 0;
  width: 100%;
}
