@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root {
  --main-bg: #eff1ff;
  --main-font-family:font-family: 'Roboto', sans-serif; ;
  --color-white:#fff;
}
body {
  background-color: var(--main-bg);
  margin: 0;
  font-family: var(--main-font-family);
}
.heroS {
  height: 100vh;
  color: var(--color-white);
  width: 100%;
}
.heroS::before {
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: #011638;
  background-image: linear-gradient(135deg, #011638, #011638);
  border-top: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 0 100%, 100% 41%, 100% 0);
  padding-bottom: 10%;
}
/* @media (max-width: 75em){
  .heroS::before {
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
}  
} */
.hero-container {
  height: 100vh;
}

.heroS h1 {
  width: 70%;
}
.heroS h1 div{
  width: 35%;
}
.heroS img {
    width: 469px;
    /* height: 891.99px; */
}

.heroS button {
  width: 175px;
  height: 75px;
  background: linear-gradient(90deg, #4d63fc 0%, #7c70ff 100%);
  border-radius: 50px;
}
.apps{
  background: #292B40;
  background-image: url("/assets/img/padlock.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  color: var(--color-white);
}
.phone-hero {
  background-image: url("/assets/img/phone.png");
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 50%;
  
}
.funtionality img{
width: 56px;
}
.funtionality h3{
    font-size: 23px;
    font-weight: 600;
}
.funtionality h5{
font-size: 16px;

}
.rect-left{
min-width: 35vw; 
/* height: 398px;  */
height: 290px; 
/* background: #011638; */
/* box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.15); */
}
.rect-left h1{
  margin: 0;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.rect-1::before{
z-index: -1;
content: "";
top: 0;
left: 0;
position: absolute;
width: 50vw; 
height: 290px; 
background: #011638;
box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.15);
}
.describe-1{
  height: 1100px;
}
img[alt=iphone]{
  width: 300px;
height: 570.56929637527px;
  /* width: 469px;
height: 891.99px; */
}
img[alt=appstore]{
  width: 250px;
  height: 84px;
}

@media (min-width: 1200px){.heroS img {
  width: 469px;
  height: 891.99px;
}
.phone-hero {
background-image: url(/assets/img/phone.png);
background-size: contain;
background-repeat: no-repeat;
min-height: 78%;
}}